.fa-spinner {
  margin-right: 10px;
  vertical-align: middle;
}

#import-file-input {
  width: 200px;
}

#import-phase-select {
  width: 150px;
}

.fa-close {
  padding-top: 6px;
  margin-left: 20px;
}

.table-btn-action {
  height: 32px;
}

.table-btn-action .btn-group.btn-group-export {
  margin-left: 20px;
}

.table-btn-action .btn-primary.btn-dropdown.btn-export {
  width: inherit;
}

.table-btn-action .btn-primary.btn-dropdown {
  width: 182px;
}

.table-btn-action .dropdown-menu {
  margin-right: 5px;
}

.table-btn-action .btn .fa {
  padding-top: 4px;
}

.form-inline .form-control {
  margin-left: 5px;
  margin-right: 15px;
}