#dashboard-container .row {
  margin: 0;
}

#dashboard-container .container.branding-container {
  padding-left: 0;
}

#overall-risk-chart {
  margin-right: -15px;

  .highcharts-data-label text,
  .highcharts-data-label text span {
    color: #333 !important;
    fill: #333 !important;
    font-weight: normal !important;
    font-size: 26px !important;
  }

.highcharts-subtitle,
  .highcharts-subtitle tspan {
    font-size: 40px !important;
  }

  .highcharts-point {
    stroke-width: 1 !important;
  }
}

.alert-summary {
  margin-left: -15px;
}

.group-wrapper {
  position: relative;
}
